*{
    box-sizing:border-box;
}

.bro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;

}

.title{

    width: 1000px;
    display:grid;
    column-gap: 40px;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.school-name{
    font-size: 40px;
    display: inline-block;
}

.school-vision{
    font-size: 20px;
    display: inline-block;
}

.school-div{
    /* display: grid;
    grid-template-columns: 1fr; */
}
.school-image{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    width: 400px;
    height: 400px;
}
/* @media(max-width:500px){
    video-grid{
        grid-template-columns: 1fr;

    }
} */